/*
** Section 1: Variables
** Section 2: Media Queries
** Section 3: Globals
** Section 4: Page Templates
*/

/*** VARIABLES ***/
$background: #f2f2f2;
$background--dark: navy;
$background--transparent: rgba(255,255,255,0.95);
$primary: #123bbb;
$secondary: #84DE69; 
$text: #333333;

$title-serif: 'Bree Serif', serif;
$title-sans: 'Oswald', sans-serif;

/*** GLOBALS ***/
html {
	font-size:16px;
}

footer {
	margin-top: 20px;
	border-top: 1px solid #eee;
	text-align: center;
	color: #bbb;
		a {
			color: #aaa;
		}
}
body {
	background: URL('../img/white_wall_hash.png') repeat;
	display: flex;
	flex-direction: column;
	color: #333;
}

/*** IMPORTS ***/
@import 'components/layout';
@import 'components/nav';
@import 'pages/home';
@import 'components/header';
@import 'components/forms';
@import 'components/buttons';
