/*
** Section 1: Variables
** Section 2: Media Queries
** Section 3: Globals
** Section 4: Page Templates
*/


/*** IMPORTS ***/
@import 'global/variables';
@import 'components/layout';
@import 'components/nav';
@import 'components/header';
@import 'components/forms';
@import 'components/buttons';
@import 'components/alerts';
@import 'components/block';
@import 'components/portfolio';

/*** GLOBALS ***/
html {
	font-size:16px;
	font-family: $body-sans
}

footer {
	margin-top: 20px;
	border-top: 1px solid #eee;
	text-align: center;
	color: #bbb;
		a {
			color: #aaa;
		}
}
body {
	background: URL('../img/white_wall_hash.png') repeat;
	display: flex;
	flex-direction: column;
	color: #333;

	p {
		font-family: $body-sans;
	}
}
