<header class="header header--{{ segment_1 or "home" }}">
    {{ partial:nav }}
    <div class="header__content">
        <div class="header__logo">
            {{ assets:logo }}
            <img src="{{ url}}">
            {{/assets:logo}}
        </div>
        <div class="header__text">
            <h1 class="header__text--title">{{ header_title or title }}</h1>
            <h2 class="header__text--subtitle">{{ header_subtitle or subtitle }}</h2>
        </div>
    </div>
    <div class="empty__container"><br/></div>
</header>