{{ partial:header-top-single }}
<section class="container">
	<article class="container__content container__content--first">
	<header>
		<div class="meta clearfix">
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
	</header>


		{{ if intro_image }}
			<p><img src="{{ intro_image | url }}" class="intro-image"></p>
		{{ /if }}

		{{ content }}

		{{ relate:categories as="categories" }}
            <ul class="tags">
            <span class="tags__title">View other projects related to: </span>
			{{ categories }}
				<li><a href="{{ url }}">{{ title }}</a></li>
			{{ /categories }}
            </ul>
		{{ /relate:categories }}
	</article>

</section>

