.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container__content {
	width: 80%;
	max-width: 900px;
	background-color: white;
	padding: 3rem;
	margin-bottom: 50px;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.20);
	@include media('<tablet') {
		padding: 1.5rem;
	}

	 h2, h3 {
	 	color: $text-dark-gray;
	 	font-family: $title-serif;
	 }
	 

	&--first {
		margin-top: -35px;
	}

	&--about {
		display: flex;
		align-items: center;
		@include media('<=tablet') {
			flex-wrap: wrap;
			justify-content: center;
		}

		img {
			width: 180px;
			border-radius: 50%;
			margin-right: 3rem;
			@include media('<=tablet') {
				margin-right: 0;
			}
			}
	}

	&--featured {
		h2 {
			text-align: center;
			font-family: $title-serif2;
			border-radius: 6px 6px 0 0;
			color: white;
			background-color: $background--dark;
			padding: 0.5rem;
			margin-left: -48px;
			margin-right: -48px;
			margin-top: -48px;
			font-size: 2rem;
			letter-spacing: 0.04rem;
			@include media('<tablet') {
				margin-left: -24px;
				margin-right: -24px;
			}
		}
	}
}