.container {
	display: flex;
	justify-content: center;

}

.container__content {
	margin-top: -35px;
	width: 80%;
	max-width: 900px;
}

.container__item {
	background-color: $background--transparent;
	padding: 3rem;
	margin-bottom: 30px;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.20);

	h2 {
		margin-top: -20px;
		font-size: 2rem;
		letter-spacing: 0.04rem;
		color: #444;
	}

}