.portfolio {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__item {
		width: 280px;
		margin: 0 10px 10px 10px;
		
		&__wrapper {
			box-shadow: 0 1px 10px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.2);
			text-decoration: none;
			transition: $transition-regular;
			display: block;
			border-radius: 3px;

			&:hover {
				box-shadow: 0 3px 12px rgba(0,0,0,0.3), 0 3px 8px rgba(0,0,0,0.3);
			}
		}

		&__title {
			text-align: center;
			//box-shadow: $shadow-1;
			border-radius: 3px 3px 0 0;
			padding: 8px 0;
			position: relative;
			
			h3 {
				color: $text;
				font-weight: normal;
				margin: 0;
			}
		}

		&__content {
			padding: 10px;
			border-radius: 0 0 3px 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 120px;
			filter: none;
			transition: $transition-regular;
			
			&:hover {
				 filter: hue-rotate(90deg);
				 //opacity: 0.5;
			}
		}

		p {
				color: $text;
				text-align: center;
			}

		&__tags {
			display: flex;
			list-style: none;
			justify-content: center;
			margin: 0;
			padding: 0;

			li {
				margin: 0 4px;
			}
		}
	}
}