{{ partial:header-top-color }}
<section class="container">
	<article class="container__content container__content--first">
		<div class="meta">
			<div class="meta__date">
				{{ date format="F j, Y" }}
			</div>
			<div class="meta__length">
				{{ content | read_time }} minute read
			</div>
		</div>

		{{ if intro_image }}
			<p><img src="{{ intro_image | url }}" class="intro-image"></p>
		{{ /if }}

		{{ content }}

		{{ relate:tags as="tags" }}
            <ul class="tags">
            <span class="tags__title">Read more about: </span>
			{{ tags }}
				<li><a href="{{ url }}">{{ title }}</a></li>
			{{ /tags }}
            </ul>
		{{ /relate:tags }}
	</article>
</section>

