{{ partial:header-top-color }}
<section class="regular">

	<header>
		<div class="meta clearfix">
			<div class="author">
				<div class="pull-left">
					<a href="" class="name">{{ author_name }}</a>
					<span class="length">{{ content | read_time }} minute read</span>
				</div>
			</div>
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
		<h1>{{ title }}</h1>
		{{ subtitle wrap="h2" }}
	</header>

	<article class="content">

		{{ if intro_image }}
			<p><img src="{{ intro_image | url }}" class="intro-image"></p>
		{{ /if }}

		{{ content }}

		{{ relate:tags as="tags" }}
            <ul class="tags">
			{{ tags }}
				<li><a href="{{ url }}">{{ title }}</a></li>
			{{ /tags }}
            </ul>
		{{ /relate:tags }}
	</article>

</section>

