<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title }} || {{ general:site_name }}</title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="{{ theme:css }}">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Oswald:700" rel="stylesheet">
</head>

<body>
   
    {{ template_content }}

    <footer class="footer">
        <p class="footer__copyright">&copy; {{ now format="Y" }}, {{ general:site_owner }}</p>
        <p class="footer__attribution">Theme by <a href="https://github.com/WillMerchan/statamerch">Will Merchan</a> built on <a href="http://statamic.com">Statamic</a></p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ theme:js }}"></script>
    <script src="site/themes/merch/js/forms.js"></script>
    <script src="site/themes/merch/js/animation.js"></script>
    <script src="site/themes/merch/js/buttons.js"></script>
    <script src="site/themes/merch/js/initial.js"></script>
    <script src="site/themes/merch/js/jquery.easing.1.3.js"></script>
    <script src="site/themes/merch/js/jquery.hammer.js"></script>
    <script src="site/themes/merch/js/materialbox.js"></script>
    <script src="site/themes/merch/js/transitions.js"></script>
    <script src="site/themes/merch/js/buttons.js"></script>
    <script src="site/themes/merch/js/bin/materialize.js"></script>

</body>

</html>
