<section class="container">

    <header>
        <h1>Contact</h1>
    </header>

    <article class="container__item">

        {{ content }}

       {{ form:create in="contact" }}
       {{ if errors }}
           <div class="alert alert--danger">
               {{ errors }}
                   {{ value }}<br>
               {{ /errors }}
           </div>
       {{ /if }}

       {{ if success }}
           <div class="alert alert--success">
               Form was submitted successfully.
           </div>
       {{ /if }}
         {{ fields }}
           <label>{{ display }}</label>
           <input type="text" name="{{ field }}" value="{{ old }}" />
         {{ /fields }}
          <button class="btn btn--primary">Submit</button>
       {{ /form:create }}

    </article>

</section>
